body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:784px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:207px;
  top:160px;
  width:577px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:38px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
