body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:998px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:35px;
  top:49px;
  width:963px;
  height:111px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:964px;
  height:112px;
}
#u2 {
  position:absolute;
  left:2px;
  top:48px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:112px;
  top:73px;
  width:554px;
  height:48px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:48px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:62px;
  top:73px;
  width:50px;
  height:45px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:693px;
  top:97px;
  width:120px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:823px;
  top:97px;
  width:60px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1B1B1B;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:893px;
  top:97px;
  width:60px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1B1B1B;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:35px;
  top:170px;
  width:195px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:17px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:35px;
  top:210px;
  width:963px;
  height:390px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:964px;
  height:391px;
}
#u16 {
  position:absolute;
  left:2px;
  top:187px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:51px;
  top:272px;
  width:947px;
  height:50px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:51px;
}
#u18 {
  position:absolute;
  left:2px;
  top:17px;
  width:943px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:930px;
  top:278px;
  width:28px;
  height:24px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:680px;
  top:314px;
  width:75px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:752px;
  top:280px;
  width:178px;
  height:22px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23_input:disabled {
  color:grayText;
}
#u24 {
  position:absolute;
  left:290px;
  top:620px;
  width:68px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:368px;
  top:620px;
  width:66px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:486px;
  top:620px;
  width:68px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:564px;
  top:620px;
  width:66px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:444px;
  top:621px;
  width:31px;
  height:25px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u29 {
  position:absolute;
  left:2px;
  top:5px;
  width:27px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:58px;
  top:220px;
  width:172px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:17px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:220px;
  top:220px;
  width:230px;
  height:17px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:17px;
}
#u33 {
  position:absolute;
  left:2px;
  top:0px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_ann {
  position:absolute;
  left:443px;
  top:216px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:58px;
  top:254px;
  width:172px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:51px;
  top:322px;
  width:952px;
  height:251px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:70px;
  top:0px;
  width:270px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:37px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:340px;
  top:0px;
  width:173px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:513px;
  top:0px;
  width:186px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:37px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:699px;
  top:0px;
  width:140px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:37px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:839px;
  top:0px;
  width:108px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:36px;
  width:70px;
  height:35px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u50 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:70px;
  top:36px;
  width:270px;
  height:35px;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:340px;
  top:36px;
  width:173px;
  height:35px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:513px;
  top:36px;
  width:186px;
  height:35px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:699px;
  top:36px;
  width:140px;
  height:35px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:839px;
  top:36px;
  width:108px;
  height:35px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:71px;
  width:70px;
  height:35px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u62 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:70px;
  top:71px;
  width:270px;
  height:35px;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u64 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:340px;
  top:71px;
  width:173px;
  height:35px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:513px;
  top:71px;
  width:186px;
  height:35px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:699px;
  top:71px;
  width:140px;
  height:35px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:839px;
  top:71px;
  width:108px;
  height:35px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:106px;
  width:70px;
  height:35px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:70px;
  top:106px;
  width:270px;
  height:35px;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:340px;
  top:106px;
  width:173px;
  height:35px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:513px;
  top:106px;
  width:186px;
  height:35px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:699px;
  top:106px;
  width:140px;
  height:35px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:839px;
  top:106px;
  width:108px;
  height:35px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:141px;
  width:70px;
  height:35px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:70px;
  top:141px;
  width:270px;
  height:35px;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u88 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:340px;
  top:141px;
  width:173px;
  height:35px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u90 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:513px;
  top:141px;
  width:186px;
  height:35px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u92 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:699px;
  top:141px;
  width:140px;
  height:35px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u94 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:839px;
  top:141px;
  width:108px;
  height:35px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:0px;
  top:176px;
  width:70px;
  height:35px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:70px;
  top:176px;
  width:270px;
  height:35px;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u100 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:340px;
  top:176px;
  width:173px;
  height:35px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u102 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:513px;
  top:176px;
  width:186px;
  height:35px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u104 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:699px;
  top:176px;
  width:140px;
  height:35px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u106 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:839px;
  top:176px;
  width:108px;
  height:35px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:0px;
  top:211px;
  width:70px;
  height:35px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u110 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:70px;
  top:211px;
  width:270px;
  height:35px;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u112 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:340px;
  top:211px;
  width:173px;
  height:35px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u114 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:513px;
  top:211px;
  width:186px;
  height:35px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u116 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:699px;
  top:211px;
  width:140px;
  height:35px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u118 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:839px;
  top:211px;
  width:108px;
  height:35px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u120 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:930px;
  top:366px;
  width:39px;
  height:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:930px;
  top:405px;
  width:39px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:899px;
  top:438px;
  width:39px;
  height:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:938px;
  top:438px;
  width:60px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
