body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../查看设备安全检测申请表_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:35px;
    top:49px;
    width:963px;
    height:111px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:969px;
    height:117px;
}

.u1 {
    position:absolute;
    left:2px;
    top:48px;
    width:959px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../查看设备安全检测申请表_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:139px;
    top:82px;
    width:554px;
    height:48px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:554px;
    height:48px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:550px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../查看设备安全检测申请表_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:89px;
    top:82px;
    width:50px;
    height:45px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:45px;
}

.u5 {
    position:absolute;
    left:2px;
    top:14px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:720px;
    top:131px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:850px;
    top:131px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:920px;
    top:131px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u9 {
    position:absolute;
    left:35px;
    top:272px;
    width:968px;
    height:40px
}

.u10_normal {
    background-image: url('../查看设备安全检测申请表_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:0px;
    width:155px;
    height:35px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:41px;
}

.u11 {
    position:absolute;
    left:2px;
    top:10px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../查看设备安全检测申请表_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:155px;
    top:0px;
    width:276px;
    height:35px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:282px;
    height:41px;
}

.u13 {
    position:absolute;
    left:2px;
    top:10px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../查看设备安全检测申请表_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:431px;
    top:0px;
    width:103px;
    height:35px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:41px;
}

.u15 {
    position:absolute;
    left:2px;
    top:10px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../查看设备安全检测申请表_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:534px;
    top:0px;
    width:140px;
    height:35px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:41px;
}

.u17 {
    position:absolute;
    left:2px;
    top:10px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../查看设备安全检测申请表_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:674px;
    top:0px;
    width:104px;
    height:35px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:110px;
    height:41px;
}

.u19 {
    position:absolute;
    left:2px;
    top:10px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../查看设备安全检测申请表_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:777px;
    top:0px;
    width:185px;
    height:35px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:191px;
    height:41px;
}

.u21 {
    position:absolute;
    left:2px;
    top:10px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u22 {
    position:absolute;
    left:35px;
    top:307px;
    width:968px;
    height:145px
}

.u23_normal {
    background-image: url('../查看设备安全检测申请表_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:74px;
    height:35px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:41px;
}

.u24 {
    position:absolute;
    left:2px;
    top:10px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../查看设备安全检测申请表_files/u10_normal.png');
}

.u25_container {
    position:absolute;
    left:74px;
    top:0px;
    width:155px;
    height:35px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:41px;
}

.u26 {
    position:absolute;
    left:2px;
    top:10px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../查看设备安全检测申请表_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:229px;
    top:0px;
    width:343px;
    height:35px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:349px;
    height:41px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:339px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../查看设备安全检测申请表_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:572px;
    top:0px;
    width:391px;
    height:35px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:397px;
    height:41px;
}

.u30 {
    position:absolute;
    left:2px;
    top:10px;
    width:387px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../查看设备安全检测申请表_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:35px;
    width:74px;
    height:35px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:41px;
}

.u32 {
    position:absolute;
    left:2px;
    top:10px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../查看设备安全检测申请表_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:74px;
    top:35px;
    width:155px;
    height:35px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:41px;
}

.u34 {
    position:absolute;
    left:2px;
    top:10px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../查看设备安全检测申请表_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:229px;
    top:35px;
    width:343px;
    height:35px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:349px;
    height:41px;
}

.u36 {
    position:absolute;
    left:2px;
    top:10px;
    width:339px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../查看设备安全检测申请表_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:572px;
    top:35px;
    width:391px;
    height:35px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:397px;
    height:41px;
}

.u38 {
    position:absolute;
    left:2px;
    top:10px;
    width:387px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../查看设备安全检测申请表_files/u31_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:70px;
    width:74px;
    height:35px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:41px;
}

.u40 {
    position:absolute;
    left:2px;
    top:10px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../查看设备安全检测申请表_files/u33_normal.png');
}

.u41_container {
    position:absolute;
    left:74px;
    top:70px;
    width:155px;
    height:35px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:41px;
}

.u42 {
    position:absolute;
    left:2px;
    top:10px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../查看设备安全检测申请表_files/u35_normal.png');
}

.u43_container {
    position:absolute;
    left:229px;
    top:70px;
    width:343px;
    height:35px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:349px;
    height:41px;
}

.u44 {
    position:absolute;
    left:2px;
    top:10px;
    width:339px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../查看设备安全检测申请表_files/u37_normal.png');
}

.u45_container {
    position:absolute;
    left:572px;
    top:70px;
    width:391px;
    height:35px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:397px;
    height:41px;
}

.u46 {
    position:absolute;
    left:2px;
    top:10px;
    width:387px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../查看设备安全检测申请表_files/u31_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:105px;
    width:74px;
    height:35px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:41px;
}

.u48 {
    position:absolute;
    left:2px;
    top:10px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../查看设备安全检测申请表_files/u33_normal.png');
}

.u49_container {
    position:absolute;
    left:74px;
    top:105px;
    width:155px;
    height:35px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:41px;
}

.u50 {
    position:absolute;
    left:2px;
    top:10px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../查看设备安全检测申请表_files/u35_normal.png');
}

.u51_container {
    position:absolute;
    left:229px;
    top:105px;
    width:343px;
    height:35px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:349px;
    height:41px;
}

.u52 {
    position:absolute;
    left:2px;
    top:10px;
    width:339px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../查看设备安全检测申请表_files/u37_normal.png');
}

.u53_container {
    position:absolute;
    left:572px;
    top:105px;
    width:391px;
    height:35px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:397px;
    height:41px;
}

.u54 {
    position:absolute;
    left:2px;
    top:10px;
    width:387px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u55 {
    position:absolute;
    left:35px;
    top:447px;
    width:968px;
    height:40px
}

.u56_normal {
    background-image: url('../查看设备安全检测申请表_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:0px;
    width:111px;
    height:35px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:41px;
}

.u57 {
    position:absolute;
    left:2px;
    top:10px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../查看设备安全检测申请表_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:111px;
    top:0px;
    width:154px;
    height:35px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:41px;
}

.u59 {
    position:absolute;
    left:2px;
    top:10px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../查看设备安全检测申请表_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:265px;
    top:0px;
    width:108px;
    height:35px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:41px;
}

.u61 {
    position:absolute;
    left:2px;
    top:10px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../查看设备安全检测申请表_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:373px;
    top:0px;
    width:204px;
    height:35px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:210px;
    height:41px;
}

.u63 {
    position:absolute;
    left:2px;
    top:10px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../查看设备安全检测申请表_files/u56_normal.png');
}

.u64_container {
    position:absolute;
    left:577px;
    top:0px;
    width:111px;
    height:35px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:41px;
}

.u65 {
    position:absolute;
    left:2px;
    top:10px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../查看设备安全检测申请表_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:688px;
    top:0px;
    width:275px;
    height:35px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:41px;
}

.u67 {
    position:absolute;
    left:2px;
    top:10px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u68 {
    position:absolute;
    left:35px;
    top:482px;
    width:968px;
    height:125px
}

.u69_normal {
    background-image: url('../查看设备安全检测申请表_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:0px;
    width:111px;
    height:120px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:126px;
}

.u70 {
    position:absolute;
    left:2px;
    top:52px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../查看设备安全检测申请表_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:111px;
    top:0px;
    width:852px;
    height:120px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:858px;
    height:126px;
}

.u72 {
    position:absolute;
    left:2px;
    top:52px;
    width:848px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:833px;
    top:546px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:770px;
    top:578px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:35px;
    top:170px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../查看设备安全检测申请表_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:35px;
    top:208px;
    width:963px;
    height:62px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:969px;
    height:68px;
}

.u77 {
    position:absolute;
    left:2px;
    top:20px;
    width:959px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../查看设备安全检测申请表_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:35px;
    top:602px;
    width:963px;
    height:43px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:969px;
    height:49px;
}

.u79 {
    position:absolute;
    left:2px;
    top:12px;
    width:959px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u80 {
    position:absolute;
    left:35px;
    top:645px;
    width:968px;
    height:245px
}

.u81_normal {
    background-image: url('../查看设备安全检测申请表_files/u69_normal.png');
}

.u81_container {
    position:absolute;
    left:0px;
    top:0px;
    width:111px;
    height:120px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:126px;
}

.u82 {
    position:absolute;
    left:2px;
    top:52px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../查看设备安全检测申请表_files/u71_normal.png');
}

.u83_container {
    position:absolute;
    left:111px;
    top:0px;
    width:852px;
    height:120px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:858px;
    height:126px;
}

.u84 {
    position:absolute;
    left:2px;
    top:52px;
    width:848px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../查看设备安全检测申请表_files/u69_normal.png');
}

.u85_container {
    position:absolute;
    left:0px;
    top:120px;
    width:111px;
    height:120px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:126px;
}

.u86 {
    position:absolute;
    left:2px;
    top:44px;
    width:107px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../查看设备安全检测申请表_files/u71_normal.png');
}

.u87_container {
    position:absolute;
    left:111px;
    top:120px;
    width:852px;
    height:120px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:858px;
    height:126px;
}

.u88 {
    position:absolute;
    left:2px;
    top:52px;
    width:848px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:838px;
    top:712px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:838px;
    top:744px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:838px;
    top:823px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:838px;
    top:855px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../查看设备安全检测申请表_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:340px;
    top:492px;
    width:100px;
    height:100px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u94 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../查看设备安全检测申请表_files/u93_normal.png');
}

.u95_container {
    position:absolute;
    left:340px;
    top:785px;
    width:100px;
    height:100px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u96 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:770px;
    top:895px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

